.EventThumbnailComponent {
    display: flex;
    align-content: center;
    justify-content: center;
}

.EventThumbnailComponent .card {
    width: 18rem;
    box-shadow: -1px 2px 4px -1px rgb(0 0 0 / 25%);
    margin-bottom: 5px;
}