.btn.action {
    background-color: #007777;
    border: thin solid #007777;
}

.btn.action:hover {
    background-color: #018585;
    border: thin solid #018585;
}

.btn.action:active {
    background-color: #037070;
    border: thin solid #037070;
}
