
spring:
  h2:
    console.enabled: true
    console.path: /h2
    console.settings.trace: true 
    spring.h2.console.settings.web-allow-others: true
  datasource:
    url: jdbc:h2:file:./data/demo
    username: sa
    password: password
    driverClassName: org.h2.Driver
  jpa:
    spring.jpa.database-platform: org.hibernate.dialect.H2Dialect
    generate-ddl: true
    hibernate:
      ddl-auto: create-drop
  # security:
  #   oauth2:
  #     resourceserver:
  #       jwt:
  #         issuer-uri: http://localhost:8083/auth/realms/baeldung
  #         jwk-set-uri: http://localhost:8083/auth/realms/baeldung/protocol/openid-connect/certs

  server: 
    port: 8081
    servlet: 
      context-path: /

  servlet:
    multipart:
      max-file-size: 5000KB
      max-request-size: 5000KB

# App Properties
app:
  jwtSecret: secretsecret
  jwtExpirationMs: 6000000

logging.level.org.springframework.web.servlet.mvc.method.annotation: TRACE
