
spring:
  mail:
    host: smtp-relay.sendinblue.com
    port: 587
    username: howmanyaggies@gmail.com
    password: VUIBrsvdZMywKm5A
    transport:
      protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    debug: true
  h2:
    console.enabled: true
    console.path: /h2
    console.settings.trace: true 
    spring.h2.console.settings.web-allow-others: true
  datasource:
    url: jdbc:h2:file:./data/demo
    username: sa
    password: password
    driverClassName: org.h2.Driver
  sql:
    init:
      mode: always
  jpa:
    defer-datasource-initialization: true
    database-platform: org.hibernate.dialect.H2Dialect
    generate-ddl: true
    hibernate:
      ddl-auto: create-drop

  server: 
    port: 8081
    servlet: 
      context-path: /

  servlet:
    multipart:
      max-file-size: 5000KB
      max-request-size: 5000KB

# App Properties
app:
  email:
    from: noreply@aggieaid.com
  jwt:
    secret: secretsecret
    expirationMs: 6000000

logging.level.org.springframework.web.servlet.mvc.method.annotation: TRACE
