@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.slick-arrow {
    width: 50px;
    height: 100%;
    z-index: 100;;
}

.slick-prev {
    left: -50px
}

.slick-prev:before {
    font-size: 50px;
    color: black;
}

.slick-next {
    right: -50px
}

.slick-next:before {
    font-size: 50px;
    color: black;
}

.EventSlider {
    max-width: 75%;
    margin-top: 100px
}