.LoginComponent {
    max-width: 350px;
    margin: auto;
    text-align: left;
    margin-top: 100px;
    padding: 25px 50px;
    background-color: #efefef;
    border: thin solid #fefefe;
    box-shadow: -2px 2px 6px 2px rgba(0,0,0,0.25);
}

.LoginComponent .form-group {
    margin-bottom: 15px;
}
